<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handicap Calculator</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  </head>

  <body class="grey lighten-3">
    <nav>
      <div class="nav-wrapper grey darken-3">
        <a href="/" class="brand-logo left">Local Golf</a>
        <ul id="nav-mobile" class="right hide-on-small-and-down">
          <li><a href="handiCalc.html">Handicap Calculator</a></li>
        </ul>
      </div>
    </nav>
    <main class="container">
      <div class="centered">
        <h4>Calculate Course Handicap</h4>
        <div class="row">
          <form class="col s12" v-if="formVisible" @submit.prevent="calcHandicap()">
            <div class="row">
              <div class="input-field col s12 l2">
                <input type="text" v-model="playerIndex" id="playerIndex" style="margin: 1em; text-align: center" />
                <span class="helper-text">Your Index</span>
              </div>
              <div class="input-field col s12 l2">
                <input
                  type="text"
                  v-model="courseSlope"
                  name="courseSlope"
                  id="courseSlope"
                  style="margin: 1em; text-align: center"
                />
                <span class="helper-text">Slope</span>
              </div>
              <div class="col s12 l6 right">
                <button type="submit" class="waves-effect waves-teal grey btn-large right" style="width: 100%">
                  Calculate Handicap
                </button>
              </div>
              <div class="input-field col s12 l1 right">
                <input v-model="courseHandicap" id="courseHandicap" style="margin: 1em; text-align: center" />
                <span class="helper-text">Course Handicap</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
